@import "tailwindcss";

:root {
  --background: #FAF7F2;
  --surface: #FFFDF9;
  --sidebar: #1F1F1F;

  --primary: #D4AF37;
  --primary-hover: #C89B2C;

  --text-primary: #1E1E1E;
  --text-secondary: #555555;

  --border: #E8E0D2;

  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--text-primary);
  font-family: "Poppins", sans-serif;
}