@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #f8f5f1;
  color: #2b1b12;
}

* {
  box-sizing: border-box;
}